
services: 
  mongodb:
    image: mongo:7.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    networks:
      - my-net    
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=pass123  
    volumes:
      - mongo-data:/data/db


  backend:
    build: ./backend
    container_name: backendc
    restart: unless-stopped
    ports:
      - "5000:5000"
    networks:
      - my-net    
    env_file:
      - ./backend/.env
    depends_on: 
      - mongodb 


  frontend:
    build: ./frontend
    container_name: frontendc
    restart: unless-stopped
    ports:
      - "3000:80"
    networks: 
      - my-net    
    depends_on: 
      - backend
    environment:
      - REACT_APP_API_URL=http://backend:5000



volumes: 
  mongo-data:
    driver: local
networks:
  my-net:
    driver: bridge      
